<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <img src="{}" height="30" width="40" BORDER="0">
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div *ngFor="let item of categories">
      <a class="dropdown-item" href="{{item.link}}"><img src="{{item.name}}" height="30" width="40" BORDER="0"></a>
  </div>
</div>
</div>
  <p>Det Activa språket ska visas här </p>
